RocketShop/.vs/RocketShop/FileContentIndex/c2f58da4-9797-425d-aa43-516bc9ee5655.vsidx
RocketShop/.vs/RocketShop/FileContentIndex/9bc6c1ae-212b-4eff-87be-7c52107f319e.vsidx
RocketShop/.vs/RocketShop/FileContentIndex/d0314b9d-816f-4bda-8265-c661bbe665a5.vsidx
RocketShop/.vs/RocketShop/FileContentIndex/f4369b37-e9dc-4983-b4ee-fe7826af4c64.vsidx
RocketShop/.vs/RocketShop/v17/.futdcache.v2
RocketShop/.vs/RocketShop/v17/TestStore/0/000.testlog
RocketShop/.vs/RocketShop/v17/TestStore/0/testlog.manifest
RocketShop/obj/project.assets.json
RocketShop/obj/RocketShop.csproj.nuget.dgspec.json
RocketShop/obj/RocketShop.csproj.nuget.g.props
RocketShop/obj/RocketShop.csproj.nuget.g.targets
RocketShop/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
RocketShop/obj/Debug/net8.0/RocketShop.AssemblyInfo.cs
RocketShop/obj/Debug/net8.0/RocketShop.GeneratedMSBuildEditorConfig.editorconfig
RocketShop/obj/Debug/net8.0/RocketShop.GlobalUsings.g.cs
RocketShop/.vs/ProjectEvaluation/rocketshop.metadata.v7.bin
RocketShop/.vs/ProjectEvaluation/rocketshop.projects.v7.bin
RocketShop/.vs/RocketShop/DesignTimeBuild/.dtbcache.v2
RocketShop/.vs/RocketShop/FileContentIndex/88756970-cd67-4ed4-9005-76c2899e8104.vsidx
